########################################################################################################
########################################################################################################
########################################################################################################
########################################################################################################
#######################                                                #################################
####################### AUTHOR: SALVADOR JESÚS MEGÍAS ANDREU           #################################
####################### EMAIL: salvadorjmegias@gmail.com               #################################
####################### UNIVERSITY EMAIL: salvadorjesus@correo.ugr.es  #################################
#######################                                                #################################
########################################################################################################
########################################################################################################
########################################################################################################
########################################################################################################


# Possible modes of use depending on the version of pip you have

# HOW TO USE: pip install -r requirements.txt
# HOW TO USE: pip3 install -r requirements.txt

# Versions used on my computer (to avoid version conflict issues)
# Python version used during development : 3.9.13
# Version of pip used during development: 22.1.2


PyVISA==1.11.3 		# to communicate with hosts via ethernet
PyVISA-py==0.5.2 		# to communicate with hosts over ethernet
matplotlib==3.5.0 	# to generate plots with data
numpy==1.21.4 		# to handle arrays more efficiently when searching for maxima